<h1>Welcome to the book system</h1>
<div>
  <body>
    <p>This was developed by Gabe in an attempt to make everyone's lives easier when it comes to categorizing books outside the library</p>
    <h2><u>Instructions for use</u></h2>
    <p>This database contains two different tables, one for all the books in the catalog, and one keeping tracks of loans
    the links for these databases are linked below with further instructions on the page.</p>
  </body>
  <%= link_to "Book Catalog", "/books" %>
  <p>     </p>
  <%= link_to "Loans", "/loans" %>
</div>

