<p style="color: green"><%= notice %></p>

<h1>Catalog Access</h1>

<%= link_to "Add New Book to Catalog", new_book_path %>
<div></div>
<%= link_to "Full Database Catalog", "/full" %>

<p></p>
<%= link_to "Home", "/articles" %>